In [2]:
import pandas as pd               
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [3]:
dataset=pd.read_csv("train-titanic.csv")

In [4]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
le=preprocessing.LabelEncoder()

In [7]:
dataset["Sex"]=le.fit_transform(dataset["Sex"])

In [21]:
dataset["Embarked"]=le.fit_transform(dataset["Embarked"])

In [22]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [10]:
from sklearn import neighbors

In [23]:
X=dataset.drop(["Pclass","PassengerId","Name","Ticket","Cabin"],axis=1)

In [24]:
y=dataset["Pclass"]

In [25]:
X.head()

   Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         1    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         0    1  35.0      0      0   8.0500         2

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [31]:
test_model = neighbors.KNeighborsClassifier(n_neighbors=3)

In [32]:
result = test_model.fit(X_train,y_train)

In [35]:
print(result.score(X_test,y_test))

0.8651685393258427

In [36]:
y_pred = test_model.predict(X_test)

In [37]:
confusion_matrix(y_test,y_pred)

array([[ 63,   5,   2],
       [  7,  28,  14],
       [  3,   5, 140]], dtype=int64)

# Assignmnet Section

Checking the accuracy score for the dataset with different dependent variables.

In [49]:
# creating a function to iterate the model for variuous values of K
import numpy as np
def knn_a(i):
    a1=[]
    b1=[]
    for k in i:
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
        test_model = neighbors.KNeighborsClassifier(n_neighbors=k)
        result = test_model.fit(X_train,y_train)
        Acc_value = result.score(X_test,y_test)
        a1.append(Acc_value)
    return a1


def knn_c(i):
    a1=[]
    b1=[]
    for k in i:
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
        test_model = neighbors.KNeighborsClassifier(n_neighbors=k)
        result = test_model.fit(X_train,y_train)  
        y_pred = test_model.predict(X_test)
        Conf_mat= confusion_matrix(y_test,y_pred)
        b1.append(Conf_mat)
    return b1

i=range (1,268)
Accuracy_score = np.array(knn_a(i))
Conf_mat=np.array(knn_c(i))

In [55]:
dataset=pd.DataFrame(i,index=range(0,267))

In [62]:
dataset["Accuracy value"]=pd.DataFrame(Accuracy_score)

In [70]:
dataset.head()

   0  Accuracy value
0  1        0.891386
1  2        0.865169
2  3        0.865169
3  4        0.823970
4  5        0.831461

In [75]:
Final_result =dataset[dataset["Accuracy value"]==max(dataset["Accuracy value"])]

In [83]:
print("The accuracy of the model is highest when the K value is",Final_result.iloc[0,0], "and the accuracy score for that K value is",Final_result.iloc[0,-1])

The accuracy of the model is highest when the K value is 1 and the accuracy score for that K value is 0.8913857677902621