In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("train-titanic.csv")

In [5]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
from sklearn import preprocessing

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.naive_bayes import GaussianNB   # it is the method for Naive bayes

In [10]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [12]:
le = preprocessing.LabelEncoder()

In [15]:
dataset["Sex"] = le.fit_transform(dataset["Sex"])

In [33]:
dataset["Embarked"] = le.fit_transform(dataset["Embarked"])

In [89]:
y=dataset["Survived"]

In [90]:
X=dataset.drop(["PassengerId","Survived","Name","Ticket","Cabin"],axis=1)

In [91]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [92]:
y.count()

889

In [93]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [94]:
from sklearn.naive_bayes import *

In [95]:
clf = BernoulliNB()

In [96]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [97]:
y_pred

array([1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1], dtype=int64)

In [98]:
accuracy_score(y_test,y_pred,normalize=True)

0.7715355805243446

In [99]:
confusion_matrix(y_test,y_pred)

array([[131,  26],
       [ 35,  75]], dtype=int64)

In [50]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

# Assignment Section below.

In [78]:
# Using various features as dependent variables and finding the accuracy value and confusion matrix
i =["Pclass","Sex","SibSp","Parch","Embarked"]
for features in i:
    y=dataset[features]
    X=dataset.drop(["PassengerId",features,"Name","Ticket","Cabin"],axis=1)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    from sklearn.naive_bayes import *
    from sklearn.metrics import accuracy_score,confusion_matrix
    clf = BernoulliNB()
    y_pred = clf.fit(X_train,y_train).predict(X_test)
    Acc_value = accuracy_score(y_test,y_pred,normalize=True)
    conf_mat = confusion_matrix(y_test,y_pred)
    print("The accuracy value when DV is",features,"is",Acc_value)
    print("The confusion matrix when DV is",features, "is",conf_mat)

The accuracy value when DV is Pclass is 0.5917602996254682
The confusion matrix when DV is Pclass is [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]
The accuracy value when DV is Sex is 0.7453183520599251
The confusion matrix when DV is Sex is [[ 49  49]
 [ 19 150]]
The accuracy value when DV is SibSp is 0.6891385767790262
The confusion matrix when DV is SibSp is [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]
The accuracy value when DV is Parch is 0.7153558052434457
The confusion matrix when DV is Parch is [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]
The accuracy value when DV is Embarked is 0.7340823970037453
The confusion matrix when DV is Embarked is [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]